.blog {
  .title {
    @include adaptiv-margin-bottom(60, 30);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  &__item {
    position: relative;
    overflow: hidden;
    padding: 0 0 80% 0;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
